body {
	background-color: lightgrey;
}

#container {
	width: 400px;
	margin: 0 auto;

}

.text {
	text-align: center;
}

#fightResults {
	height: 300px;
	background-color: grey;
	margin-top: 25px;
	border-radius: 10px;
}