body {
	background-color: lightgrey;
}

.container {
	width: 400px;
	margin: 25px auto;
}

.text {
	text-align: center;
}

#fightResults {
	padding: 20px;
	height: 200px;
	background-color: grey;
	margin-top: 25px;
	border-radius: 10px;
}

.select-elements {
	visibility: visible;
}

