body {
	background-color: lightgrey;
}

.container {
	width: 700px;
	margin: 25px auto;
}

.text {
	text-align: center;
}

#fightResults {
	padding: 20px;
	height: 500px;
	background-color: grey;
	margin-top: 25px;
	border-radius: 10px;
}

.select-elements {
	visibility: visible;
}

.left {
	float: left;
}

.right {
	float: right;
}

.fightDiv {
	margin: auto;
}
